<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
<meta charset="utf-8">
<title>订单支付</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Yangy" />
<link rel="icon" href="/img/favicon-now.ico" type="image/x-icon">
<link rel="shortcut icon" href="/img/favicon-now.ico" type="image/x-icon" />
<!-- css -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet"> 
<link href="/css/flexslider.css" rel="stylesheet" />
<!-- Vendor Styles -->
<link href="/css/magnific-popup.css" rel="stylesheet"> 
<!-- Block Styles -->
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/gallery-1.css" rel="stylesheet">
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="/js/jquery.js"></script>
<script src="/js/pintuer.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<style>
	#orderTbale th{
		border: 1px black solid;
	}
	
	#orderTbale td{
		border: 1px black solid;
	}
	
	#orderTbale th{
		text-align: center;
	}
	
	#orderTbale td{
		text-align: center;
	}
</style>
</head>
<body>
<div id="wrapper">
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-left hidden-xs">欢迎致电</p>
        <p class="pull-right"><i class="fa fa-phone"></i>座机号码： (+0755) 8888-8888</p>
      </div>
    </div>
  </div>
</div>
	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
				<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a class="navbar-brand" style="font-size: 45px;font-family: STCaiyun;font-weight: bolder;" href="/user/index.do">深美旅游网</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="f_index.html">首页</a></li> 
						 <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">鹏程美景<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="f_payResult.html">热门景点</a></li>
                            <li><a href="#">景点分类</a></li>
                            <!--<li><a href="#"></a></li> -->
                            <!--<li><a href="#">Investors</a></li>-->
                        </ul>
                    </li> 
						<li><a href="f_register.html">我的信息</a></li>
                        <!--<li><a href="f_pay.html">Portfolio</a></li>-->
                        <!--<li><a href="f_payList.html">Pricing</a></li>-->
                        <li><a href="f_contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header><!-- end header -->
			  <!-- Start Gallery 1-2 -->
    <section id="gallery-1" class="content-block section-wrapper gallery-1">
		<div class="container col-md-12" style="background: #f0fbeb;min-height: 800px;">
			<!--<div class="col-md-6 details-left" style="margin-bottom: 10px;">-->
				<!--<a style="font-size: 16px;" href="javascript:window.history.go(-1);"> << 返回  </a>-->
			<!--</div>-->
			
			<div class="col-md-12" style="margin-bottom: 10px;text-align: center">
				<span style="font-size: 35px;font-weight: bold;">订单支付结果</span>
			</div>
			
			<div class="row col-md-12" style="margin: 20px 0px;text-align: center">
				<img src="/img/success.jpg" style="height: 200px;width: 200px;border-radius: 100px;">
				<h1 style="color: #6cbc35;">支付成功！</h1>
				<p>订单号：<span th:text="${orderNo}"></span></p>
			</div>
			
			<div class="row col-md-12" style="margin: 20px 0px;text-align: center">
				<a th:href="${'/payRecord/toPay.do?orderNo='+orderNo+'&userId='+userId}" class="layui-btn layui-btn-primary" id="goBack" >返回</a>
			</div>
        <!-- /.container -->
		</div>
    </section>
    <!--// End Gallery 1-2 -->  
	</div>
	<footer style="bottom: 0px;left: 0;right: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">联系我们</h5>
                        <address>
                            <strong>欢迎来访</strong><br>
                        </address>
                        <p>
                            <i class="icon-phone"></i> 座机号码： (+0755) 8888-8888 <br>
                            <i class="icon-envelope-alt"></i> Yangy@qq.com
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">票务链接</h5>
                        <ul class="link-list">
                            <li><a href="#">12306</a></li>
                            <li><a href="#">飞猪订票</a></li>
                            <li><a href="#">去哪儿网订票</a></li>
                            <li><a href="#">中国航空票务</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">特色服务</h5>
                        <ul class="link-list">
                            <li><a href="#">行李托运</a></li>
                            <li><a href="#">酒店代订</a></li>
                            <li><a href="#">司机代驾</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">最新资讯</h5>
                        <ul class="link-list">
                            <li><a href="#">近日天气预报</a></li>
                            <li><a href="#">最新票价推送</a></li>
                            <li><a href="#">安全知识推送</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                Copyright &copy; 2017.Company name All rights reserved.<a target="_blank"
                                                                                          href="#">深美网</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li><a href="#" data-placement="top" title="Google plus"><i
                                    class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

</body>
</html>