<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Yangy" />
<link rel="icon" href="/img/favicon-now.ico" type="image/x-icon">
<link rel="shortcut icon" href="/img/favicon-now.ico" type="image/x-icon" />
 
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet"> 
<link href="/css/flexslider.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/login_style.css" rel="stylesheet" />	
	
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-left hidden-xs">欢迎致电</p>
        <p class="pull-right"><i class="fa fa-phone"></i>座机号码： (+0755) 8888-8888</p>
      </div>
    </div>
  </div>
</div>
	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
				<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a class="navbar-brand" href="/f_index.html" >深美旅游网</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="f_index.html">首页</a></li> 
						 <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">鹏程美景<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="f_about.html">热门景点</a></li>
                            <li><a href="#">景点分类</a></li>
                            <!--<li><a href="#"></a></li> -->
                            <!--<li><a href="#">Investors</a></li>-->
                        </ul>
                    </li> 
						<li><a href="f_register.html">我的信息</a></li>
                        <!--<li><a href="f_pay.html">Portfolio</a></li>-->
                        <!--<li><a href="f_pricing.html">Pricing</a></li>-->
                        <li><a href="f_contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header><!-- end header -->
	<section id="inner-headline" style="background: url('../img/pengcheng_bg1.jpg') center no-repeat;margin: 0;background-size: cover;padding: 65px 0;position: relative;width: 100%;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle" style="color: white">用户注册</h2>
				<div class="content2" style="margin: 0 auto;float: none">
					<form method="post" action="/user/register.do">
						<input type="text" name="userName" value="请输入用户名" maxlength="20" minlength="6"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入用户名';}">
						<input type="text" name="phone" value="请输入电话号码" maxlength="20" minlength="6"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入电话号码';}">
						<input type="text" name="loginName" value="请输入登录账号名（6-20位）" maxlength="20" minlength="6"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入登录账号名（6-20位）';}">
						<input type="text" name="password" value="请输入密码（6-20位）" maxlength="20" minlength="6"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入密码（6-20位）';}">
						<input type="submit" class="register" value="提交注册">
						<div style="text-align: center;margin: 0 auto;"><a href="/user/login.do">已有账号，点此登录</a></div>
						<input id="msgText" hidden="hidden" th:value="${message}"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	</section>
	<footer>
		<div id="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="copyright">
							<p style="text-align: center">
								Copyright &copy; 2021. Yangy All rights reserved.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>  
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/animate.js"></script>
<!-- Vendor Scripts -->
<script src="/js/modernizr.custom.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/animate.js"></script>
<script src="/js/custom.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/three.js/63/three.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/layui/layui.all.js"></script>

<script>
	var msg = document.getElementById("msgText").value;
    if(msg != null && msg != ''){
        layer.msg(msg,{offset: '100px'});
    }
</script>

</body>
</html>